<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinica_Frba.Properties.Settings.GD2C2013ConnectionString"
            connectionString="Data Source=USUARIO-PC\\SQLSERVER2008;Initial Catalog=GD2C2013;Persist Security Info=True;User ID=sa;Password=gestiondedatos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="DateKey" value="2013-12-03" />
    </appSettings>
</configuration>